<style type="text/css">
    .copyright {
        text-align: center;
        padding: 25px;
        color: rgba(160, 160, 160, 1);
    }
    .with-love {
        display: inline-block;
        margin: 0 5px;
    }
</style>
<div class="copyright">
    ©  2018
    <span class="with-love"><i class="fa fa-heart"></i></span>
    <a href="https://www.whai.me" target="_blank" title="whai">WHAI</a>
</div>
